body
{
	background-color : #000000;
	margin : 0;
	padding : 0;
}

div[class^="violet"]
{
	width : 10%;
	height : 30px;
	float : left;
}

.violet1
{
	background-color : #F1CFFC;
}
.violet2
{
	background-color : #AE56CC;
}
.violet3
{
	background-color : #6D2885;
}
.violet4
{
	background-color : #52046E;
}

#balle
{	
	position : absolute;
	bottom : 35px;
	left : 49.5%;
	width : 12px;
	height : 12px;
	background-color : #4FCEF7;
}
#raquette
{
	position : absolute;
	bottom : 6px;
	left : 44%;	
	width : 12%;
	height : 20px;
	background-color : #FFFFFF;
}




